<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Chat Campus Virtual IGA</title>
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!--Bootstrap-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <script>
        $(document).ready(function() {
            var socket = io('http://192.168.1.189:3000');
            var id = '';
            var temp = '';
            var ban = 0;
            var flood = 0;
            socket.on('toClient', function(msg) {

                var nombre = msg[0];
                var filial = msg[1];
                var mensaje = msg[2];
                var time = msg[3];
                var contador = msg[5];


                var template_local = '<li class="left clearfix" style="margin-bottom: 10px;padding-bottom: 5px;border-bottom: 1px dotted #B3A9A9";><span class="chat-img pull-left"><img src="http://www.imran.com/xyper_images/icon-user-default.png" width="50px" heigth="50px" alt="User Avatar" class="img-circle" style="margin-right: 4px;"/></span><div class="chat-body clearfix"><div class="header"><strong class="primary-font">' + nombre + '</strong> <small class="pull-right text-muted"><span class="glyphicon glyphicon-time"></span> ' + time + ' </small></div><p>' + mensaje + '</p></div></li>';
                var template_remoto = '<li class="right clearfix" style="margin-bottom: 10px;padding-bottom: 5px;border-bottom: 1px dotted #B3A9A9";><span class="chat-img pull-right"><img src="http://www.imran.com/xyper_images/icon-user-default.png" width="50px" heigth="50px" alt="User Avatar" class="img-circle" style="margin-left: 4px;" /></span><div class="chat-body clearfix"><div class="header"><small class=" text-muted"><span class="glyphicon glyphicon-time"></span> ' + time + ' </small><strong class="pull-right primary-font">' + nombre + '</strong></div><p>' + mensaje + '</p></div></li>';

                if (id == '') {

                    id = msg[4];
                    temp = template_local;
                } else {
                    // Aca sabemos si es el mismo client id
                    if (id == msg[4]) {
                        temp = template_local;
                    } else {
                        temp = template_remoto;
                    }
                    console.log('ya esta definido el clientid' + id);
                }
                $('#contador').html(" " + contador + " (Conectados)");
                $('#chat').append(temp);
                $("#chat-container").animate({
                    scrollTop: $('#chat-container')[0].scrollHeight
                }, 1000);
            });


            $('#chatter').submit(function(e) {

                e.preventDefault();
                var msg = $('#msg').val();

                if ($('#msg').val().length < 2) {
                    ban += 1;

                    switch (ban) {
                        case 1:
                            notificacion(" El mensaje debe tener al menos 2 caracteres ");
                            break;
                        case 2:
                            notificacion(" No esta permitido el Flood ");
                            break;
                        case 3:
                            notificacion(" La proxima estas fuera! ");
                            break;
                        case 4:
                            notificacion(" Bye Bye! Seras Expulsado! ");
                            alert(" Listo, estas fuera !");
                            location.replace('../ban');
                            break;
                    }
                    return;
                }
                flood = flood + 1;
                $('#msg').val('');
                if (flood < 7) {
                    socket.emit('toServer', msg);
                } else {
                    notificacion(" Flood, estas molestando ");
                    ban = 2;
                }
                console.log(flood);
            });
            setInterval(function() {
                flood = 0;
                $('#notice').fadeOut("slow", function() {
                    $('#notice').detach();
                });
            }, 5000);
            setInterval(function() {
                ban = 0;
            }, 30000);

            function notificacion(msg) {
                var temp = '<div id="notice" class="alert alert-danger alert-dismissable"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><strong>Info!</strong>' + msg + '</div>';
                $('#chat-container').append(temp);
            }

        });
    </script>
</head>

<body>
    <section>
        <div class="container">
            <div class="row">
                <div class="col-md-5">
                    <div class="panel panel-primary">
                        <div class="panel-heading">

                            <span class="glyphicon glyphicon-comment"></span> IGA Campus Chat <span id="contador"></span>
                            <div class="btn-group pull-right">
                                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                    <span class="glyphicon glyphicon-chevron-down"></span>
                                </button>
                                <ul class="dropdown-menu slidedown">
                                    <li><a onclick="javascript:location.reload();"><span class="glyphicon glyphicon-refresh">
                                </span>Refrescar</a></li>
                                    <li class="divider"></li>
                                    <li><a href="http://iga-la.net:2083"><span class="glyphicon glyphicon-off"></span>
                                Salir</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="panel-body" id="chat-container" style="overflow: auto; max-height: 400px; ">
                            <ul id="chat" class="chat" style="list-style: none;padding-left: 0;">
                                <!-- Aca va el codigo injectado -->

                            </ul>
                        </div>
                        <form id="chatter" autocomplete="off">
                            <div class="panel-footer">
                                <div class="input-group">
                                    <input id="msg" type="text" class="form-control input-sm" placeholder="Mensaje..." />
                                    <span class="input-group-btn">
                            <button class="btn btn-warning btn-sm" type="submit">Enviar</button>
                        </span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        </div>

    </section>


</body>

</html>
